---
  - name: split string and set fact (servers)
    set_fact:
      servers: "{{ servers }}"

  - name: split string and set fact (clients)
    set_fact:
      clients: "{{ clients }}"

  - include_vars: systems.yml

  - template:
      src: sp-0000-0040/inventory.ini.j2
      dest: sp-0000-0040/inventory.ini


{% for server in servers.split(',') %}
{% set var = loop.index %}
  - file:
      path: sp-0000-0040/group_vars/server{{ loop.index }}
      state: directory

  - name: server{{ var }}
    template:
      src: server_public.j2
      dest: sp-0000-0040/group_vars/server{{ var }}/public
    vars:
       var: {{ var }}

{% endfor %}

{% for client in clients.split(',') %}
{% set var = loop.index %}
  - file:
      path: sp-0000-0040/group_vars/client{{ loop.index }}
      state: directory

  - name: client{{ var }}
    template:
      src: client_public.j2
      dest: sp-0000-0040/group_vars/client{{ var }}/public
    vars:
       var: {{ var }}

{% endfor %}

...

